[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansiscape = "==1.0.0a2"  # delete
naughtty = "==1.0.0a2"
thtml = "==1.0.0a10"

[dev-packages]
black = "==21.9b0"
flake8 = "*"
isort = "*"
mkdocs = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
shellcheck-py = "*"
twine = "*"
types-pyyaml = "*"
yamllint = "*"

[requires]
python_version = "3.9"
