[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
naughtty = "~=1.0"
thtml = "~=1.0.2"

[dev-packages]
black = "==21.9b0"
flake8 = "*"
isort = "*"
mkdocs = "*"
mock = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
shellcheck-py = "*"
twine = "*"
types-mock = "*"
yamllint = "*"

[requires]
python_version = "3.10"
